lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

config.json
updates.json
web.json
manifest.yml
bcb-twitter-streaming.sublime-project
bcb-twitter-streaming.sublime-workspace
