body {
    background-color: #4d4926;
    background-image: url(/images/background_pattern.jpg);
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    color: #fff;
    font-family: Dosis, sans-serif;
    padding: 0px;
}
.step:not(.active) {
    /*opacity: 0.4;*/
    /*color: #aaa;*/
}
#start {
    font-size: 30px;
    color: black;
}
.step {
    color: #666666;
    width: 500px;
    height: 180px;
/*    padding: 20px;*/
    font-size: 16px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 9px;
}
.step.active {
    color: black;
    background-color: rgba(255,255,255,1);
    opacity: 1.0;
    transition: background 2s;
    -webkit-transition: background 2s;
    -moz-transition: background 2s;
    -ms-transition: background 2s;
    -o-transition: background 2s;
}
.step.has_media {
	height: 510px;
}
/*
.step {
    color: #3f3f3f;
    width: 500px;
    height: 120px;
    font-size: 16px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 9px;
    opacity: 1;
}
.step:not(.active) {
	opacity: 0;
}
*/

#tweets_wrapper {
    width: 760px;
    height: 650px;
    float: left;
    overflow: hidden;
}
#updates_wrapper {
    width: 264px;
    height: 630px;
    float: left;
    overflow: hidden;
    color: white;
    margin: 10px 0px;
/*    background-color: rgba(0,0,0,0.25);*/
    border-radius: 9px;
}

#updates_wrapper ul {
	list-style-type: none;
	padding-left: 0px;
}
#updates_wrapper li {
	margin: 0px 10px 12px 10px;
	font-size: 20px;
	padding: 12px;
	border-radius: 10px;
	background-color: #FED904;
    color: black;
	word-wrap: break-word;
}

#updates_wrapper a {
	color: #666666;
	font-weight: bold;
}

#current_session_wrapper {
	width: 1024px;
	height: 118px;
	background-color: white;
	border-radius: 9px;
    color: black;
}

.clear {
	clear: both;
	height: 0px;
}

#current_session_wrapper .large_text {
	text-align: center;
	font-size: 1.2em;
	padding: 50px 100px;
}

.current_session_time {
	width: 10%;
	display: inline-block;
	vertical-align: top;
    border-top-left-radius: inherit;
}

.current_session_time div {
    padding-left: 10px;
    border-top-left-radius: inherit;
}

.current_session {
	width: 15%;
	display: inline-block;
	vertical-align: top;
}

.current_session_location {
	font-weight: bold;
    background: #FED904;
    padding-top: 12px;
    padding-bottom: 3px;
}

.current_session:last-of-type, .current_session:last-of-type .current_session_location {
    border-top-right-radius: inherit;
}

.current_session_title {
    padding-right: 10px;
}

#start div {
	padding: 50px 150px;
	font-size: 40px;
}

#tweets_container {
    background: none;
}

.tweet {
	color: #666666;
}

.active.redbg .tweet_header{
    background: #BD3636;
    color: white;
}

.active.bluebg .tweet_header{
    color: white;
    background: #3566FF;
}

.active.greenbg .tweet_header{
    color: white;
    background: #2BBD1E;
}

.tweet_avatar {
	width: 65px;
	height: 65px;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.1;
}

.active .tweet_avatar {
	opacity: 1.0;
}

.tweet_content_container {
	width: 460px;
	float: left;
	vertical-align: top;
    padding: 0px 20px 10px 20px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.tweet_header {
    /*height: 65px;*/
    padding: 5px 20px 15px 20px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.tweet_header span {
    display: inline-block;
}

.tweet_user {
	margin-top: 6px;
}
.tweet_user_name {
	font-size: 19px;
	font-weight: bold;
}
.active .tweet_user_name {
}

.tweet_user_handle {
	font-size: 15px;
    margin-top: 4px;
}
.active .tweet_user_name {
	color: black;
}

.tweet.active.redbg .tweet_user_name, .tweet.active.bluebg .tweet_user_name, .tweet.active.greenbg .tweet_user_name {
    color: white;
}
    
.tweet_content {
	font-size: 17px;
	padding-top: 10px;
    letter-spacing: 0.08em;
}

.tweet_content a {
    color: rgba(0,0,0,0.2);
	font-weight: bold;
}

.active .tweet_content a {
	color: black;
	font-weight: bold;
}

/*
.active.redbg a, .active.bluebg a, .active.greenbg a {
    color: white;
}
*/

.tweet_footer {
    position: absolute;
    top: 170px;
    width: 500px;
}

.tweet_time {
	font-size: 11px;
	padding-top: 7px;
    float: left;
}

.tweet_actions {
    position: absolute;
    right: 20px;
    display: none;
}

.tweet_actions a {
    padding-right: 5px;
}

/**
Work in progress
.active.tweet:hover .tweet_actions {
    display: block;
}
*/

.tweet_media {
	width: 500px;
	height:  270px;
	padding: 15px 0px;
	line-height: 270px;
	text-align: center;
	/*background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.1;*/
}

.tweet_media img {
	max-width: 500px;
	max-height: 270px;
	vertical-align: middle;
}

.active .tweet_media {
	opacity: 1;
}

.tweet_media img {
	max-width: 340px;
	max-height: 270px;
	margin: 0px auto;
	opacity: 0.1;
}

.step.active > .tweet_media img {
	opacity: 1;
}

#qr_code{
	display: none;
}
