<tr class="fixed_slot">
	<td class="col_0">{{time_string}}</td>
	<td class="col" colspan="6">
	{{#if techlash}}
		<img id="teklash_logo" src="/images/teklash.png" alt="Techlash" />
	{{else}}
		{{name}}
	{{/if}}
	</td>
</tr>